<!doctype html>

<html>
    <head>
        {% if title %}
        <title> {{ title }} - Dog Flask Project </title>
        {% else %}
        <title> Welcome, this is Dog Flask Project </title>
        {% endif %}
    </head>
    <body>
        <div>
            Dog Flask Project:
                <a href="{{ url_for('index')}}"> Homepage </a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login')}}"> Login </a>
            {% else %}
                <a href="{{ url_for ('dog_user', dog_name=current_user.dog_name) }}"> Profile </a>
                <a href="{{ url_for ('logout') }}"> Logout </a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
