{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img src="{{ dog_user.avatar(256) }}"></td>
        <td>
            <h1>{{ _('Dog User') }}: {{ dog_user.dog_name }}</h1>
            {% if dog_user.about_me %}
                <p>{{ dog_user.about_me }}</p>
            {% endif %}
            {% if dog_user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(dog_user.last_seen).format('LLL') }}</p>
            {% endif %}
            <p>{{ _('%(count)d followers', count=dog_user.followers.count()) }},
                {{ _('%(count)d following', count=dog_user.followed.count()) }} </p>
            {% if dog_user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">{{ _('Edit your profile') }}</a></p>
            {% elif not current_user.is_following(dog_user) %}
            <p>
            <form action="{{ url_for('follow', dog_name=dog_user.dog_name) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
            </form>
            </p>
            {% else %}
            <p>
            <form action="{{ url_for('unfollow', dog_name=dog_user.dog_name) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
            </form>
            </p>
            {% endif %}
        </td>
    </tr>
</table>
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>{{ _('Newer posts') }}
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}