{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ dog_user.avatar(128) }}" ></td>
            <td>
                <h1> User: {{ dog_user.dog_name }} </h1>
                {% if dog_user.about_me %}
                    <p> {{ dog_user.about_me }} </p>
                {% endif %}
                {% if dog_user.last_seen %}
                    <p> Last seen on: {{ dog_user.last_seen }} </p>
                {% endif %}
                {% if dog_user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}"> Edit your profile </a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html'%}
    {% endfor %}
{% endblock %}
